<footer class="site-footer">
  <div class="container d-flex justify-content-sm-between justify-content-center text-center">
    <div class="copyright">
      <p>Powered by <a href="https://ghost.org/" rel="noopener nofollow" target="_blank">Ghost</a>. Copyright &copy; 2019. Crafted with <a href="https://github.com/JaxsonWang/Ghost-Theme-Frenemy" target="_blank" rel="noopener nofollow">Frenemy</a>.</p>
    </div>
    <nav class="social-links d-none d-sm-block">
      <ul>
        <li class="social-link"><a href="#"><i class="fab fa-weibo"></i></a></li>
        <li class="social-link"><a href="#"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </nav>
  </div>
  <div class="container copyright text-center">
    <p>
      <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow noopener">苏ICP备15050739号-4</a>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010402000196" target="_blank" rel="nofollow noopener">苏公网安备32010402000196号</a>
      <a href="https://tongji.baidu.com/web/10921506/overview/index?siteId=11569818" target="_blank" rel="nofollow noopener">百度统计</a>
    </p>
  </div>
</footer>
<%- js(['/assets/jquery/jquery.min.js','/assets/bootstrap/bootstrap.min.js','/assets/pivot/pivot.min.js','/assets/app/js/app.js'])%>