@import "~../base/dark-mode";

.set {
    width: 100%;
    .category-list{
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }
    .category-list-item{
        list-style: none;
        margin: 20px 20px 0px 5px;
        &:hover{
            .category-list-link{
                color: #DB221F;
            }
        }
    }
    .category-list-link{
        font-size: 18px;
    }
    .category-list-count{
        font-size: 20px;
        margin-left: 5px;
        &::before{
            content: "[ ";
        }
        &:after{
            content: " ]";
        }
    }
}
[data-theme="dark"] {
    .category-list-link{
        color: $dark-font;
    }
}