<div class="img-show">
    <img src="https://raw.githubusercontent.com/CasualMing/BlogPhoto/master/java.png" alt="" srcset="">
    <div class="img-mask"></div>
    <span class="left">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    <span class="right">
        <i class="fas fa-arrow-right" aria-hidden="true"></i>
    </span>
</div>