<article>
  <section class="post-content">
    <%- page.more%>
  </section>
</article>
<ul class="post-copyright">
  <li class="post-copyright-author">
    <strong>文章作者： </strong><%-theme.nav_name%></li>
  <li class="post-copyright-link">
    <strong>文章链接：</strong>
    <a href="<%-url_for(page.path)%>" title="文章标题" target="_blank"><%-page.path%></a>
  </li>
  <li class="post-copyright-license">
    <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      rel="external nofollow" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明出处！
  </li>
</ul>
<div class="post-comments">
  <!-- 这里放置评论框 -->
  这里放置评论框，用于第三方评论或者博客平台评论。评论框样式可以自己自由发挥定制！
</div>