@charset "UTF-8";
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 主题文章版权样式
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 全局样式
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

a {
  color: #000;
  text-decoration: none;
  outline: 0;
  transition: .5s;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.medium-zoom-image--opened {
  z-index: 1;
}

code {
  color: #029EFF;
}

blockquote {
  border-left: 5px solid #029EFF;
  padding: 10px 10px 1px 20px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.inner {
  padding: 75px;
  border-radius: 2px;
  box-shadow: 0 2px 24px 5px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

.site-main {
  margin-top: -100px;
  margin-bottom: 35px;
  position: relative;
  flex-grow: 1;
  z-index: 1;
}

[data-theme="dark"] code {
  background-color: #333;
}

[data-theme="dark"] blockquote {
  background-color: #444;
}

[data-theme="dark"] blockquote p {
  color: #f5f5f5;
}

[data-theme="dark"] .inner {
  background-color: #252525;
  box-shadow: 0 2px 24px 5px #080808;
}

.about-par {
  width: 100%;
  overflow-x: scroll;
}

.about-par img {
  height: 200px;
}

@media (max-width: 575.98px) {
  .inner {
    padding: 25px !important;
  }
}

@media (max-width: 767.98px) {
  .inner {
    padding: 50px;
  }
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 动画样式
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceInRight {
  0%, 100%, 60%, 75%, 90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 模板头部
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

.site-warp .site-header nav.navbar {
  background-color: #fff;
  padding: 0.75rem 0;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.15);
  transition: all 250ms ease 0ms;
}

.site-warp .site-header nav.navbar.top-nav {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: transparent;
  box-shadow: none;
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar {
  border: 1px solid transparent;
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar:hover > .search-icon {
  color: #fff;
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar:hover > .search-input {
  color: #fff;
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar .search-input {
  color: rgba(255, 255, 255, 0.5);
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar .search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.site-warp .site-header nav.navbar.top-nav .site-searchbar .search-icon {
  color: rgba(255, 255, 255, 0.5);
}

.site-warp .site-header nav.navbar.top-nav .dark-switch-label a {
  color: rgba(255, 255, 255, 0.5);
}

.site-warp .site-header nav.navbar .navbar-brand {
  font-size: 1.375rem;
}

.site-warp .site-header nav.navbar .navbar-toggler {
  outline: none;
}

.site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0 0.625rem;
  margin: auto;
}

.site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item .mobile-search-input {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  outline: none;
}

.site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item .mobile-search-input:focus {
  border-color: transparent;
  box-shadow: none;
  border-bottom-color: initial;
}

.site-warp .site-header nav.navbar .site-searchbar {
  border-radius: 1.875rem;
  border: 1px solid transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 .625rem;
}

.site-warp .site-header nav.navbar .site-searchbar:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.site-warp .site-header nav.navbar .site-searchbar:hover > .search-input {
  padding: 0 0.9375rem;
  width: 12.625rem;
  transition: width 400ms linear;
  color: #000;
}

.site-warp .site-header nav.navbar .site-searchbar:hover > .search-icon {
  padding-right: 0.625rem;
}

.site-warp .site-header nav.navbar .site-searchbar .search-input {
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 1.5rem;
  transition: width 400ms linear;
}

.site-warp .site-header nav.navbar .site-searchbar .search-icon {
  height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.site-warp .site-header nav.navbar .dark-switch-label {
  margin-bottom: 0;
  cursor: pointer;
}

.site-warp .site-header nav.navbar .dark-switch-label a {
  color: rgba(0, 0, 0, 0.5);
}

.site-warp .site-header nav.navbar .dark-switch-label + .custom-control-input {
  display: none;
}

@media (max-width: 991.98px) {
  .site-warp .site-header nav.navbar .dark-switch-label {
    padding: 1rem 0;
  }
}

@media (max-width: 767.98px) {
  .site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item {
    margin: 0;
  }
  .site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item:last-child {
    margin: 0 auto;
  }
  .site-warp .site-header nav.navbar .site-searchbar {
    border-radius: 1.875rem;
    border: 1px solid transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .625rem;
  }
  .site-warp .site-header nav.navbar .site-searchbar:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .site-warp .site-header nav.navbar .site-searchbar:hover > .search-input {
    padding: 0 0.9375rem;
    width: 12.625rem;
    transition: width 400ms linear;
    color: #000;
  }
  .site-warp .site-header nav.navbar .site-searchbar:hover > .search-icon {
    padding-right: 0.625rem;
  }
  .site-warp .site-header nav.navbar .site-searchbar .search-input {
    color: rgba(0, 0, 0, 0.5);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 1.5rem;
    transition: width 400ms linear;
  }
  .site-warp .site-header nav.navbar .site-searchbar .search-icon {
    height: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
  .site-warp .site-header nav.navbar .dark-switch-label {
    margin-bottom: 0;
    cursor: pointer;
  }
  .site-warp .site-header nav.navbar .dark-switch-label a {
    color: rgba(0, 0, 0, 0.5);
  }
  .site-warp .site-header nav.navbar .dark-switch-label + .custom-control-input {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .site-warp .site-header nav.navbar {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

[data-theme="dark"] .site-warp .site-header nav.navbar {
  background-color: #252525;
  box-shadow: 0 2px 24px 5px #080808;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav {
  background-color: transparent;
  box-shadow: none;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav .site-searchbar:hover {
  border: 1px solid #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav .site-searchbar:hover > .search-icon {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav .site-searchbar:hover > .search-input {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav .site-searchbar .search-input {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav .site-searchbar .search-input::placeholder {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.top-nav .site-searchbar .search-icon {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .navbar-brand {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme="dark"] .site-warp .site-header nav.navbar .navbar-toggler {
  border-color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

[data-theme="dark"] .site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .navbar-collapse .navbar-nav .nav-item .mobile-search .mobile-search-input {
  background-color: transparent;
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .site-searchbar:hover {
  border: 1px solid #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .site-searchbar:hover > .search-input {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .site-searchbar .search-input {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .site-searchbar .search-icon {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-header nav.navbar .dark-switch-label a {
  color: rgba(255, 255, 255, 0.5);
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 回到顶部按钮样式
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

.fixed-tools {
  position: fixed;
  z-index: 1;
  transition: ease-in 250ms ease 0ms;
  background-color: #000;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.fixed-tools i.fas,
.fixed-tools i.far {
  font-size: 2rem;
  color: #fff;
}

#return-to-top {
  bottom: 3.125rem;
  right: 5rem;
}

@media (max-width: 767.98px) {
  .fixed-tools {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.75rem;
  }
  #return-to-top {
    bottom: 3rem;
    right: 4rem;
  }
}

@media (max-width: 575.98px) {
  .fixed-tools {
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
  }
  .fixed-tools i.fas,
  .fixed-tools i.far {
    font-size: 1.5rem;
  }
  #return-to-top {
    bottom: 1rem;
    right: 1rem;
  }
}

[data-theme="dark"] .fixed-tools i {
  color: #b7b7b7;
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 页头欢迎描述
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

.site-warp .site-hero {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.site-warp .site-hero.responsive-title-no-img::after {
  background-image: linear-gradient(-180deg, #6699cc 0, #66cccc 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-warp .site-hero .hero-content {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 135px 0 185px 0;
}

.site-warp .site-hero .hero-content .site-name {
  font-size: 3rem;
  margin-bottom: 0;
}

.site-warp .site-hero .hero-content .site-description {
  margin: 35px auto 0 auto;
  max-width: 768px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  .site-warp .site-hero .hero-content .site-name {
    font-size: 34px !important;
  }
  .site-warp .site-hero .hero-content .site-description {
    margin: 25px auto 0;
  }
}

@media (max-width: 767.98px) {
  .site-warp .site-hero .hero-content .site-name {
    font-size: 44px;
  }
}

[data-theme="dark"] .site-warp .site-hero.responsive-title-no-img::after {
  background-image: linear-gradient(-180deg, #506da0 0, #51a0a0 100%);
}

[data-theme="dark"] .site-warp .site-hero .hero-content {
  color: #b7b7b7;
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 回到顶部按钮样式
 */
#return-to-top {
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 1;
  transition: ease-in 250ms ease 0ms;
  background-color: #000;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

#return-to-top i.fas {
  font-size: 2em;
  color: #fff;
}

@media (max-width: 900px) {
  #return-to-top {
    right: 0px;
  }
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 分页
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

.site-warp .site-main .site-pagination {
  display: flex;
  flex: 1;
  justify-content: center;
}

.site-warp .site-main .site-pagination .pagination .page-item.active span {
  border: none;
  color: #222;
  font-size: 1.2rem;
}

.site-warp .site-main .site-pagination .pagination .page-item.active a {
  background-color: #e9ecef;
}

.site-warp .site-main .site-pagination .pagination .page-item a {
  border: none;
  color: #000;
  font-size: 1.2rem;
}

[data-theme="dark"] .site-warp .site-main .site-pagination .pagination .page-item.active span {
  background-color: #252525;
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-main .site-pagination .pagination .page-item.active a {
  background-color: #252525;
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-main .site-pagination .pagination .page-item a {
  color: #b7b7b7;
  background-color: #080808;
}

/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 主题页脚
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

.site-warp .site-footer {
  padding: 15px 0;
}

.site-warp .site-footer .copyright {
  display: flex;
  flex-wrap: wrap-reverse;
}

.site-warp .site-footer .copyright p {
  font-size: 13px;
  color: #b9b8b3;
  font-weight: 600;
  line-height: 22px;
}

.site-warp .site-footer .social-links {
  list-style: none;
}

.site-warp .site-footer .social-links ul {
  margin: 0;
  padding: 0;
}

.site-warp .site-footer .social-links ul .social-link {
  display: inline-block;
  margin-right: 15px;
}

.site-warp .site-footer .social-links ul .social-link a {
  color: #b9b8b3;
  font-size: 22px;
}

[data-theme="dark"] .site-warp .site-footer .copyright p {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-footer .copyright p a {
  color: #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}

[data-theme="dark"] .site-warp .site-footer .social-links ul .social-link a {
  color: #b7b7b7;
}
