@charset "UTF-8";
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 页头欢迎描述
 */
/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 黑暗模式
 */
[data-theme="dark"] {
  background-color: #080808;
  color: #b7b7b7;
}

.site-warp .site-hero {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.site-warp .site-hero.responsive-title-no-img::after {
  background-image: linear-gradient(-180deg, #6699cc 0, #66cccc 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-warp .site-hero .hero-content {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 135px 0 185px 0;
}

.site-warp .site-hero .hero-content .site-name {
  font-size: 3rem;
  margin-bottom: 0;
}

.site-warp .site-hero .hero-content .site-description {
  margin: 35px auto 0 auto;
  max-width: 768px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  .site-warp .site-hero .hero-content .site-name {
    font-size: 34px !important;
  }
  .site-warp .site-hero .hero-content .site-description {
    margin: 25px auto 0;
  }
}

@media (max-width: 767.98px) {
  .site-warp .site-hero .hero-content .site-name {
    font-size: 44px;
  }
}

[data-theme="dark"] .site-warp .site-hero {
  background-color: #fff;
  filter: Alpha(Opacity=60);
  opacity: 0.6;
}

[data-theme="dark"] .site-warp .site-hero.responsive-title-no-img::after {
  background-image: linear-gradient(-180deg, #506da0 0, #51a0a0 100%);
}

[data-theme="dark"] .site-warp .site-hero .hero-content {
  color: #b7b7b7;
}

[data-theme="dark"] .site-warp .site-hero .hero-content .site-name {
  color: #fff;
}

[data-theme="dark"] .site-warp .site-hero .hero-content .site-description {
  color: #fff;
}
