@import "~../base/dark-mode";

.timeline {
    border-left: 2px dotted $dark-font;
    padding-left: 20px;
}

.timeline-title {
    font-size: 26px;
}

.timeline-subtitle {
    font-size: 24px;
    margin: 20px 0px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $bg-dark-1;
    }
}

.timeline-item {
    font-size: 18px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        margin-left: -5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $dark-font;
    }
    a {
        margin-left: 10px;
    }

    &:hover {
        a {
            color: #029EFF;
            margin-left: 10px;
        }
        &::before {
            background-color: #029EFF;
        }
    }
}

[data-theme="dark"] {
    .timeline-item {
        a {
            color: $dark-font;
            margin-left: 10px;
        }
    }

    .timeline-subtitle {
        &::before {
            background-color: $bg-dark-2;
        }
    }
}