/**
  @Author 淮城一只猫
  @Date 2019-08-09
  @Name 主题文章/页面正文样式
 */
 @import "~../base/dark-mode";

.site-warp {
  .site-main {
    article {
      width: 100%;

      .post-content {
        p {
          font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
          line-height: 1em/1.8;
          font-weight: normal;
        }

        a {
          position: relative;
          color: #DB221F;

          &::after {
            content: "";
            width: 0%;
            height: 2px;
            position: absolute;
            left: 50%;
            bottom: -4px;
            transform: translateX(-50%);
            background-color: #029EFF;
            transition: all .2s ease-in;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }

        h3 {
          &::before {
            content: '#';
            font-size: 1.5rem;
            margin-right: 0.5rem;
            color: #000;
          }
        }

        figure {
          img {
            max-width: 100%;
            display: block;
            margin: 1.5em auto;
            height: auto;
          }

          figcaption {
            text-align: center;
            font-weight: lighter;
            color: rgba(0, 0, 0, .5);
            padding-top: 0.5rem;
            font-style: italic;
          }
        }

        img {
          max-width: 100%;
          cursor: zoom-in;
        }
      }
    }
  }
}

[data-theme="dark"] {
  .site-warp {
    .site-main {
      article {
        .post-content {
          p {
            color: $dark-font;

            a {
              color: $dark-font;
            }
          }

          h3 {
            &::before {
              color: $dark-font;
            }
          }

          figure {
            figcaption {
              color: rgba(0, 0, 0, .5);
            }
          }
        }
      }
    }
  }
}